:root {
    --primary-color: #CEE5D0;
    --secondary-solor: #190f3e;
    --tertiary-color:#FFC090;
    --background-container: #FCF8E8;

}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: 'Lato', sans-serif;

}

#container {
    height: 525px;
    width: 368px;
    margin: 100px auto;
    background-color: var(--background-container);
    box-shadow: 5px 5px 5px gray;
    border-radius: 20px;
}

.title {
    background: var(--tertiary-color);
    color: var(--secondary-solor);
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsForm{
    padding-left: 20px;
    padding-right: 20px;
}

.formInput {
    background: #fff;
    width: 60px;
    padding: 5px 0px 8px 15px;
    border-radius: 5px;
}

.formInput:focus, .formSelect:focus{
    border: 3px solid var(--tertiary-color);
    outline: none;
}

.formSelect{
    width: 180px;
    padding: 8px 5px;
    font-size: 13px;
    border-radius: 5px;
}

.formSubmit{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: var(--tertiary-color);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: var(--secondary-solor);
}

.formSubmit:hover{
    color: #271501;
    border: 1px solid #E38B29;
    text-shadow: #fff 1px 1px 2px;
    transition: 0.5s;
}
#totalTip {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}